* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
}

body {
  max-width: 100%;
  margin: 0 auto;
  background-color: #c39a99;
}
.nav-container {
  background-color: #b9817f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.nav-bar {
  padding-left: 30px;
}
.nav-list {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  font-size: 18px;
}
a {
  color: #efecca;
}
.cart-item {
  padding-left: 20px;
}
.card-img {
  width: 30px;
}
.gallery-container {
  display: flex;
  justify-content: center;
}

.btn {
  color: #a2504e;
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 20px;
}

.gallery {
  color: #ece9d2;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: 15px 10px;
  text-align: center;
  gap: 1em;
}

.shoe-img {
  width: 50%;
  height: auto;
}
.gallery-button {
  background-color: #a2504e;
  border: none;
  border-radius: 20px;
  color: #efecca;
  padding: 10px 32px;
  text-align: center;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}

.gallery-button:hover {
  opacity: 1;
}

#search-container {
  margin: 1em 0;
  display: flex;
  justify-content: center;
}

#search-container input {
  background-color: transparent;
  width: 20%;
  border-bottom: 2px solid #a2504e;
}

#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #a2504e;
  color: #efecca;
  border-radius: 10px;
  margin-top: 0.5em;
  cursor: pointer;
}
